---
layout: default
---   

<!--<a href="#" class="restore" accesskey="R">Restore all images</a> (alt + shift + R)-->
<hr class="division">

{% for pic in page.pictures %}
    <figure>
        {% if pic_parts == "0" %}
            <p>This page currently has no pictures</p>
        {% endif %}
        <img id="img{{ forloop.index }}" 
            class="photo {% if pic.portrait %}portrait{% else %}landscape{% endif %}-photo"
            src="{{ pic.url }}"
            title="{{ pic.caption | replace: '"','&quot;' | strip_html }}" {%comment%}'{%endcomment%} 
            onclick="toggle_size(event.target)">
        <figcaption>{{ pic.caption }} <a href="#img{{ forloop.index }}">link</a></figcaption>
    </figure>
{% endfor %}
<script src="/resize.js" type="text/javascript"></script>
